
@import url("fonts.css");
@import url("font-awesome/css/font-awesome.min.css");

a:link {
    text-decoration: none;
  }
  .col-twelve .jam{
    font-size: 23px;
    font-family: FuturaPTLight;
    margin-top:-3rem;
    margin-bottom:-2rem;
  }

/* ===================================================================
 *  09. header styles - (_layout.scss)
 *
 * ------------------------------------------------------------------- */
 header {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 700;
  }
  header .row {
    height: auto;
    max-width: 1300px;
    position: relative;
  }
  
  /* ------------------------------------------------------------------- 
   * header logo - (_layout.css) 
   * ------------------------------------------------------------------- */
  header .header-logo {
    position: absolute;
    left: 32px;
    top: 32px;
    width:166px;
    height:47px; 
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  header .header-logo a {
    display: block;
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    width:166px;
    height:47px; 
    background-size: 166px 47px;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  
  /* ------------------------------------------------------------------- 
   * menu trigger - (_layout.css) 
   * ------------------------------------------------------------------- */
  #header-menu-trigger {
    display: block;
    position: fixed;
    right: 32px;
    top: 30px;
    height: 42px;
    width: 42px;
    line-height: 42px;
    font-family: "montserrat-regular", sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: rgba(255, 255, 255, 0.5);
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  #header-menu-trigger.opaque {
    background-color: #000000;
  }
  #header-menu-trigger.opaque .header-menu-text {
    background-color: #000000;
  }
  #header-menu-trigger:hover, #header-menu-trigger:focus {
    color: #FFFFFF;
  }
  #header-menu-trigger .header-menu-text {
    display: block;
    position: absolute;
    top: 0;
    left: -75px;
    width: 75px;
    text-align: center;
    background-color: transparent;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  #header-menu-trigger .header-menu-icon {
    display: block;
    height: 3px;
    width: 24px;
    background-color: #FFFFFF;
    position: absolute;
    top: 50%;
    right: 9px;
    margin-top: -1.5px;
  }
  #header-menu-trigger .header-menu-icon::before, 
  #header-menu-trigger .header-menu-icon::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: inherit;
    position: absolute;
    left: 0;
  }
  #header-menu-trigger .header-menu-icon::before {
    top: -9px;
  }
  #header-menu-trigger .header-menu-icon::after {
    bottom: -9px;
  }
  
  /* ------------------------------------------------------------------- 
   * off-canvas menu - (_layout.scss) 
   * ------------------------------------------------------------------- */
  #menu-nav-wrap {
    background: #0C0C0C;
    color: rgba(255, 255, 255, 0.25);
    font-size: 1.5rem;
    line-height: 1.6;
    padding: 3.6rem 3rem;
    height: 100%;
    width: 240px;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    overflow-y: auto;
    z-index: 800;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  #menu-nav-wrap a, #menu-nav-wrap a:visited {
    color: rgba(255, 255, 255, 0.5);
  }
  #menu-nav-wrap a:hover, #menu-nav-wrap a:focus, #menu-nav-wrap a:active {
    color: white;
  }
  #menu-nav-wrap h3 {
    color: white;
    font-family: "montserrat-regular", sans-serif;
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }
  #menu-nav-wrap .nav-list {
    font-family: "montserrat-regular", sans-serif;
    margin: 3.6rem 0 1.5rem 0;
    padding: 0 0 1.8rem 0;
    list-style: none;
    line-height: 2.6rem;
  }
  #menu-nav-wrap .nav-list li {
    padding-left: 0;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.03);

  }
  #menu-nav-wrap .nav-list li:first-child {
    border-top: 1px dotted rgba(255, 255, 255, 0.03);
  }
  #menu-nav-wrap .nav-list li a {
    color: rgba(255, 255, 255, 0.25);
    display: block;
  }
  #menu-nav-wrap .nav-list li a:hover, 
  #menu-nav-wrap .nav-list li a:focus {
    color: white;
  }
  #menu-nav-wrap .header-social-list {
    list-style: none;
    display: inline-block;
    margin: 0;
    font-size: 2.1rem;
  }
  #menu-nav-wrap .header-social-list li {
    margin-right: 12px;
    padding-left: 0;
    display: inline-block;
  }
  #menu-nav-wrap .header-social-list li a {
    color: rgba(255, 255, 255, 0.15);
  }
  #menu-nav-wrap .header-social-list li a:hover, 
  #menu-nav-wrap .header-social-list li a:focus {
    color: white;
  }
  #menu-nav-wrap .header-social-list li:last-child {
    margin: 0;
  }
  #menu-nav-wrap .close-button {
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 36px;
    right: 30px;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
  }
  #menu-nav-wrap .close-button span::before, 
  #menu-nav-wrap .close-button span::after {
    content: "";
    display: block;
    height: 2px;
    width: 12px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 9px;
    margin-top: -1px;
  }
  #menu-nav-wrap .close-button span::before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #menu-nav-wrap .close-button span::after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #menu-nav-wrap .sponsor-text {
    font-family: "librebaskerville-regular", serif;
    font-size: 1rem;
  }
  #menu-nav-wrap .sponsor-text span {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .more .learn-more {
    padding:1rem 3rem;
    background: transparent !important;
    border: 3px solid #313131;
    line-height: 2.8rem;
    border-color: white;
    color:white;
    display: inline-block;
    font-family: "montserrat-bold", sans-serif;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: .4rem;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 3rem;
    margin: 0 0.3rem 1.2rem 0;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
  }
  
  .more .learn-more:hover {
    
    border: 3px solid #00C8FF;
    color: #00C8FF;
  }

  /* menu is open */
  .menu-is-open #menu-nav-wrap {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
    -webkit-overflow-scrolling: touch;
  }
  
  /* ------------------------------------------------------------------- 
   * responsive:
   * header section 
   * ------------------------------------------------------------------- */
  @media only screen and (max-width: 768px) {
    header .header-logo a {
      width: 51px;
      height: 24px;
      background-size: 51px 24px;
    }
  }
  @media only screen and (max-width: 400px) {
    #header-menu-trigger .header-menu-text {
      display: none;
    }
  }
  

/* ===================================================================
 *  10. home - (_layout.scss)
 *
 * ------------------------------------------------------------------- */
 #home {
    margin:-8px -8px -8px -8px;
    background-color: #151515;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center 30%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    color:white;
  }
  #home .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .2;
    background-color: #19191b;
  }
  
  .home-content-table {
    width: 100%;
    height: 100%;
    display: table;
    position: relative;
    text-align: center;
  }
  
  .home-content-tablecell {
    display: table-cell;
    vertical-align: middle;
    z-index: 500;
  }
  .home-content-tablecell .row {
    position: relative;
    padding-top: 12rem;
    padding-bottom: 5.6rem;
  }
  .home-content-tablecell h3 {
    font-family: "montserrat-bold", sans-serif;
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: .3rem;
    margin: 4rem 0 0 0;
  }
  .home-content-tablecell h1 {
    font-family: "montserrat-bold", serif;
    font-size: 7rem;
    line-height: 1;
    color: #FFFFFF;
    margin-top: 2rem;
    display: flex;
    justify-content:center;
  }
  span.animating-rubberBand {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
  }
  
  span.animating-rubberBand:hover {
    animation-name: rubberBand;
  }
  
  @keyframes rubberBand {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      transform: scale3d(.95, 1.05, 1);
    }
  
    75% {
      transform: scale3d(1.05, .95, 1);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  }
  
  .rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
  }

  .home-content-tablecell .more {
    margin: 4.8rem 0 0 0;
  }
  .home-content-tablecell .more .button {
    border-color: #FFFFFF;
    color: #FFFFFF;
  }
  
  /* home social-list */
  .home-social-list {
    position: absolute;
    left: 48px;
    bottom: 44px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.4rem;
    line-height: 1.4;
    text-align: center;
  }
  .home-social-list::before {
    display: block;
    content: "";
    width: 2px;
    height: 42px;
    background-color: rgba(255, 255, 255, 0.3);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
  }
  .home-social-list li {
    padding-left: 0;
  }
  .home-social-list li a, .home-social-list li a:visited {
    color: #FFFFFF;
  }
  .home-social-list li a:hover, 
  .home-social-list li a:focus, 
  .home-social-list li a:active {
    color: #00C8FF;
  }
  
  /* scroll down */
  .scrolldown {
    position: absolute;
    bottom: 0;
    right: 0;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: right top 0;
    -ms-transform-origin: right top 0;
    transform-origin: right top 0;
    float: right;
  }
  .scrolldown i {
    padding-left: 9px;
  }
  .scrolldown a:hover, .scrolldown a:focus, .scrolldown a:active {
    color: #00C8FF !important;
  }
  
  html[data-useragent*='MSIE 10.0'] .scrolldown,
  .oldie .scrolldown {
    display: none;
  }
  
  .scroll-icon {
    display: inline-block;
    font-family: "montserrat-bold", sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    color: #FFFFFF !important;
    background: transparent;
    position: relative;
    top: 36px;
    right: 40px;
    -webkit-animation: animate-it 3s ease infinite;
    animation: animate-it 3s ease infinite;
  }
  
  /* vertical animation */
  @-webkit-keyframes animate-it {
    0%, 60%, 80%, 100% {
      -webkit-transform: translateX(0);
    }
    20% {
      -webkit-transform: translateX(-5px);
    }
    40% {
      -webkit-transform: translateX(20px);
    }
  }
  @keyframes animate-it {
    0%, 60%, 80%, 100% {
      -webkit-transform: translateX(0);
    }
    20% {
      -webkit-transform: translateX(-5px);
    }
    40% {
      -webkit-transform: translateX(20px);
    }
  }
  
  /* Half waves to About */
.bg-waves{
  
  margin : 0.5rem -0.5rem -0.5rem -0.5rem;
    background-color:#071522;
  }
  .bg-waves2{
  
    margin : -2.5rem -0.5rem -0.5rem -0.5rem;
      background-color:#f7f7f7;
    }
  .waves{
    margin : 0rem -0.5rem -0.5rem -0.5rem;
  }
  /* ------------------------------------------------------------------- 
   * responsive:
   * home section 
   * ------------------------------------------------------------------- */
  @media only screen and (max-width: 1200px) {
    .home-content-tablecell h3 {
      font-size: 2.1rem;
    }
    .home-content-tablecell h1 {
      font-size: 7rem;
    }
  }
  @media only screen and (max-width: 1024px) {
    .home-content-tablecell h3 {
      font-size: 2rem;
    }
    .home-content-tablecell h1 {
      font-size: 6rem;
    }
  }
  @media only screen and (max-width: 768px) {
    .home-content-tablecell .row {
      max-width: 600px;
    }
    .home-content-tablecell h3 {
      font-size: 1.8rem;
    }
    .home-content-tablecell h1 {
      font-size: 5.2rem;
    }
    .home-content-tablecell h1 br {
      display: none;
    }
  
    .home-social-list {
      left: 36px;
      bottom: 30px;
      font-size: 2.1rem;
    }
    .home-social-list::before {
      height: 30px;
    }
  
    .scrolldown .scroll-icon {
      font-size: 1.2rem;

      top: 24px;
      right: 10px;
    }
  }
  @media only screen and (max-width: 600px) {
    #home {
      min-height: 702px;
    }
  
    .home-content-tablecell .row {
      max-width: 480px;
      padding-top: 12rem;
      padding-bottom: 12rem;
    }
    .home-content-tablecell h3 {
      font-size: 1.7rem;
    }
    .home-content-tablecell h1 {
      font-size: 4.8rem;
    }
  }
  @media only screen and (max-width: 500px) {
    .home-content-tablecell .row {
      max-width: 420px;
    }
    .home-content-tablecell h3 {
      font-size: 1.5rem;
    }
    .home-content-tablecell h1 {
      font-size: 4.2rem;
    }
  
    .home-social-list {
      left: 30px;
      bottom: 30px;
      font-size: 1.8rem;
    }
    .home-social-list::before {
      height: 24px;
    }
  }
  @media only screen and (max-width: 400px) {
    #home {
      min-height: 100%;
    }
  
    .home-content-tablecell .row {
      padding-top: 14.5rem;
      padding-bottom: 15.8rem;
    }
    .home-content-tablecell h3 {
      font-size: 1rem;
    }
    .home-content-tablecell h1 {
      font-size: 3rem;
    }
    .col-twelve .jam{
      font-size: 1.2rem;
      font-family: FuturaPTLight;
      margin-top:-2rem;
      margin-bottom:-1rem;
    }
    .home-social-list {
      font-size: 1.1rem;
      line-height: 1.8rem;
    }
    .scrolldown .scroll-icon {
      display: inline-block;
      font-family: "montserrat-bold", sans-serif;
      font-size: .8rem;
      text-transform: uppercase;
      letter-spacing: .5rem;
      color: #FFFFFF !important;
      background: transparent;
      position: relative;
      top: 36px;
      right: 10px;
      -webkit-animation: animate-it 3s ease infinite;
      animation: animate-it 3s ease infinite;
    }

  }
  


/* about section */
.about {
  position: relative;
  margin : 0.5rem -0.5rem -0.5rem -0.5rem;
  min-height: 100vh;
  background: #071522;
  display: flex;
  align-items: center;
}
.about.hidden{
  display: none;
}
.about .png-absolute1 {
  position: absolute;
  top: 80px;
  left: -50px;
  width: 20rem;
  z-index: 0;
}
.about .png-absolute2 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.about .profile-container {
  width: 100%;
  min-height: 150px;
  /* background: blue; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.description {
  width: 700px;
  padding : 0 20px;
  text-align: justify;
  /* word-break: break-word; */
}
.about .profile-container .title-desc {
  color: white;
  font-size: 2.2rem;
  font-family: Roboto;
  font-weight: 500;
}
.about .profile-container p {
  color: white;
  font-size: 1rem;
  /* width: 599.3px; */
  display:flex;
  align-items: center;
  justify-content: center;
  font-family: 'montserrat-regular';
  font-weight: 500;
  line-height: 25px;
}
.about .profile-container .profile-photo {
  margin-top: 4rem;
  width: 400px;
  height: 400px;
}

.about .profile-container .description .underlineText {
  padding:1rem 3rem;
  background: transparent !important;
  border: 3px solid #313131;
  line-height: 2.8rem;
  border-color: white;
  color:white;
  display: inline-block;
  font-family: "montserrat-bold", sans-serif;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: .4rem;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 3rem;
  margin: 0 0.3rem 1.2rem 0;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
}

.about .profile-container .description .underlineText:hover {
  
  border: 3px solid #00C8FF;
  color: #00C8FF;
}


.myskills {
  position: relative;
  margin : -9rem -0.5rem -0.5rem -0.5rem;
  min-height: 80vh;
  background: white;
  display: flex;
  align-items: center;
  
}
.myskills.hidden{
  display: none;
}
.myskills .myskill-img {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.myskills .flex-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.myskills .skills-description {
  width: 50%;
  height: 460px;
}
.myskills .skills-description h2 {
  word-break: break-word;
  width: 360px;
  font-family: Poppins;
  font-weight: 700;
  color: black;
  letter-spacing: 3px;
  font-size: 4rem;
  line-height: 70px;
}
.myskills .skills-description p {
  word-break: break-word;
  font-size: 20px;
  font-family: Montserrat-regular;
  font-weight: 500;
  color:black;
}
.myskills .grid-skills {
  position: relative;
  min-width: 300px;
  min-height: 460px;
  display: grid;
  /* background: red; */
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  grid-gap: 5px;
}
.myskills .grid-skills .grid-items {
  /* background: green; */
  /* border-radius: 5px; */
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: transform;
  transition: 0.5s ease;
  z-index: 12;
}
.myskills .grid-skills .grid-items::before {
  content: "";
  background: hsla(0, 0%, 100%, 0.5);
  width: 50%;
  height: 100%;
  top: 0;
  z-index: 10;
  left: -125%;
  transform: skew(45deg);
  position: absolute;
  transition: all 0.7s cubic-bezier(0.17, 0.84, 0.44, 1);
}
.myskills .grid-skills .grid-items:hover::before {
  left: 200%;
}
.myskills .grid-skills .grid-items::after {
  content: "";
  background: hsla(0, 0%, 100%, 0.3);
  width: 30%;
  height: 100%;
  top: 0;
  z-index: 10;
  left: -160%;
  transform: skew(45deg);
  position: absolute;
  transition: all 0.7s cubic-bezier(0.17, 0.84, 0.44, 1);
}
.myskills .grid-skills .grid-items:hover::after {
  left: 160%;
}
.myskills .grid-skills .grid-items .grid-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  background: rgb(0, 0, 0, 0.8);
  transition: transform 0.5s cubic-bezier(0.17, 0.84, 0.44, 1);
}
.myskills .grid-skills .grid-items:hover {
  transform: scale(1.1, 1.1);
}
.myskills .grid-skills .grid-items:hover.html {
  background: #e34f25;
}
.myskills .grid-skills .grid-items:hover.css {
  background: #1b73ba;
}
.myskills .grid-skills .grid-items:hover.js {
  background: #f7df1e;
}
.myskills .grid-skills .grid-items:hover.bs {
  background: #7911f7;
}
.myskills .grid-skills .grid-items:hover.js {
  background: #f7df1e;
}
.myskills .grid-skills .grid-items:hover.svgator {
  background: #192034;
}
.myskills .grid-skills .grid-items:hover.scss {
  background: #fff;
}
.myskills .grid-skills .grid-items:hover.figma {
  background: #fff;
}
.myskills .grid-skills .grid-items:hover.jquery {
  background: #fff;
}
.myskills .grid-skills .grid-items:hover.ps {
  background: #116ce4;
}
.myskills .grid-skills .grid-items:hover .grid-description {
  transform: translateY(0);
  transform: scale(1.1, 1.1);
}

/* My skills */


/* Contact  */
.contact-section {
  margin : 0rem -0.5rem -0.5rem -0.5rem;
  padding :0 2rem;
  max-width: 100%;
  min-height: 85vh;
  background: black;
  position: relative;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-around;
}
.contact-section .go-back{
  position: absolute;
  bottom: 10%;
  right: 3%;
  z-index:30;
  color: white;
}
.contact-section .relax-info{
  position: absolute;
  bottom: 10%;
  right: 3%;
  background:rgb(19, 19, 19);
  padding: 10px;
  width: 200px;
  z-index:30;
  color: white;
}
.quotes-for-tabmobile{
  display: none;
}
.relax-info-animate{
  animation: info 2s cubic-bezier(0.68,-0.55,0.27,1.55) forwards;
  animation-delay: 8.2s;
}
@keyframes info {
  0%{
    transform: translateX(0);
  }
  75%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(300px);
  }
}
.line-progress-info{
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  background: crimson;
  transform: scaleY(0);
  height: 100%;
  transform-origin: center;
}
/* 
.relax-info-animate{

} */

.contact-section.hidden{
  display: none;
}
.contact-mail {
  width: 600px;
  height: 600px;
}
.contact-form {
  /* background: crimson; */
  width: 30%;
  min-height: 600px;
  position: relative;
}
.contact-section .contact-form h1 {
  font-size: 4rem;
  font-family: "Montserrat", sans-serif;
  color: white;
}
.contact-section .contact-form p {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;
}
label {
  font-family: Open Sans;
  font-weight: 700;
}
form {
  margin-top: 20px;
}
input {
  border: none;
  outline: none;
}
select,
textarea {
  border: none;
  outline: none;
}
.formdiv {
  margin-bottom: 16px;
  position: relative;
  /* background: aqua; */
  color: white;
  /* display: block; */
}
.name.fill-underline::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  transform-origin: left;
  height: 5px;
  background-color: crimson;
  transform: scale(0);
  transition: transform 200ms ease-in-out;
}
.name.fill-underline:focus-within::before {
  transform: scale(1);
}
.email.fill-underline::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  transform-origin: left;
  height: 5px;
  background-color: crimson;
  transform: scaleX(0);
  transition: transform 200ms ease-in-out;
}
.email.fill-underline:focus-within::before {
  transform: scale(1);
}
.subject.fill-underline::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  transform-origin: left;
  height: 5px;
  background-color: crimson;
  transform: scaleX(0);
  transition: transform 200ms ease-in-out;
}
.subject.fill-underline:focus-within::before {
  transform: scale(1);
}
input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  background: rgb(19, 19, 19);
  /* border: 1px solid rgb(19, 19, 19); */
  box-sizing: border-box;
  color: white;
  margin-top: 6px;
  resize: vertical;
}
::placeholder {
  font-family: Open sans;
}
input[type="submit"] {
  font-family: Open Sans;
  /* background: rgb(19, 19, 19); */
  background: transparent;
  /* border: 1px solid rgb(19, 19, 19); */
  color: white;
  padding: 12px 20px;
  font-size: 15px;
  display: block;
  width: 250px;
  height: 50px;
  /* z-index: 1; */
  cursor: pointer;
  position: relative;
  transition: color 300ms ease-in-out, border 300ms ease-in-out;
}
.submit {
  width: 250px;
  height: 50px;
  position: relative;
  background: rgb(19, 19, 19);
}
.submit::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: crimson;
  z-index: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 300ms cubic-bezier(0.22, 0.61, 0.36, 1);
}
.submit:hover::before,
.submit:focus-within::before {
  transform: scaleX(1);
}
.svg-white{
  max-width: 100%;
  min-height: 20vh;
  position: relative;
  background: black;
}


#go-top {
  position: fixed;
  bottom: 42px;
  right: 30px;
  z-index: 700;
  display: none;
}
#go-top a {
  text-decoration: none;
  border: 0 none;
  display: block;
  height: 63px;
  width: 60px;
  line-height: 63px;
  text-align: center;
  background-color: #000000;
  color: #888;
  text-align: center;
  text-transform: uppercase;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#go-top a i {
  font-size: 1.7rem;
  line-height: inherit;
}
#go-top a:visited {
  background: #000000;
  color: #888;
}
#go-top a:hover, #go-top a:focus {
  background: #000000;
  color: #FFFFFF;
}
footer {
  margin:0rem -0.5rem -0.5rem -0.5rem;
  margin-top:-5px;
  min-height: 2vh;
  padding: 20px 0;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Poppins;
  font-weight: 600;
}
.fa-heart{
  color :red;
}
/* Load Page styling */
.no-scroll{
  overflow-y: hidden;
}
.page-load{
  position: fixed;
  top: 0;left: 0;
  width: 100%;
  height: 100vh;
  /* background:rgb(20, 20, 20); */
  background:black;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 3rem;
  /* text-transform: uppercase; */
  font-family: Poppins;
  font-weight: 700;
  white-space: nowrap;
}

@keyframes ldio-g0e1vuxutig {
  0% { transform: rotate(0deg) }
  50% { transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}
.ldio-g0e1vuxutig div {
  position: absolute;
  animation: ldio-g0e1vuxutig 1s linear infinite;
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  box-shadow: 0 4px 0 0 #dc143c;
  transform-origin: 80px 82px;
}
.loadingio-spinner-eclipse-jf5e22bpfve {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
}
.ldio-g0e1vuxutig {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-g0e1vuxutig div { box-sizing: content-box; }

.blank-white{
  position: fixed;
  top: 0;left: 0;
  width: 100%;
  height: 100vh;
  /* background:rgb(20, 20, 20); */
  background:#00C8FF;
  z-index: 8500;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 3rem;
  /* text-transform: uppercase; */
  font-family: Poppins;
  font-weight: 700;
  white-space: nowrap;
}
.up-wrap{
  /* background: brown; */
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.up-wrap .word2{
  margin-left: 10px;
}
/* Load Page styling */

.container-timeline{
  background-color: #f7f7f7;
  margin-top:20px;
}

.main-timeline {
  position: relative
}

.main-timeline:before {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background: #c6c6c6;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0
}

.main-timeline .timeline {
  margin-bottom: 40px;
  position: relative
}

.main-timeline .timeline:after {
  content: "";
  display: block;
  clear: both
}

.main-timeline .icon {
  width: 18px;
  height: 18px;
  line-height: 18px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0
}

.main-timeline .icon:before,
.main-timeline .icon:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.33s ease-out 0s
}

.main-timeline .icon:before {
  background: #fff;
  border: 2px solid #232323;
  left: -3px
}

.main-timeline .icon:after {
  border: 2px solid #c6c6c6;
  left: 3px
}

.main-timeline .timeline:hover .icon:before {
  left: 3px
}

.main-timeline .timeline:hover .icon:after {
  left: -3px
}

.main-timeline .date-content {
  width: 50%;
  float: left;
  margin-top: 22px;
  position: relative
}

.main-timeline .date-content:before {
  content: "";
  width: 36.5%;
  height: 2px;
  background: #c6c6c6;
  margin: auto 0;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0
}

.main-timeline .date-outer {
  width: 125px;
  height: 125px;
  font-size: 16px;
  text-align: center;
  margin: auto;
  z-index: 1
}

.main-timeline .date-outer:before,
.main-timeline .date-outer:after {
  content: "";
  width: 125px;
  height: 125px;
  margin: 0 auto;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.33s ease-out 0s
}

.main-timeline .date-outer:before {
  background: #fff;
  border: 2px solid #232323;
  left: -6px
}

.main-timeline .date-outer:after {
  border: 2px solid #c6c6c6;
  left: 6px
}

.main-timeline .timeline:hover .date-outer:before {
  left: 6px
}

.main-timeline .timeline:hover .date-outer:after {
  left: -6px
}

.main-timeline .date {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 27%;
  left: 0
}

.main-timeline .month {
  font-size: 18px;
  font-weight: 700
}

.main-timeline .year {
  display: block;
  font-size: 30px;
  font-weight: 700;
  color: #232323;
  line-height: 36px
}

.main-timeline .timeline-content {
  width: 20%;
  padding: 20px 0 20px 50px;
  float: right;
}
.main-timeline .timeline-content1 {
  width: 20%;
  padding: 20px 0 20px 50px;
  float: left;
}

.main-timeline .title {
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 15px 0
}

.main-timeline .description-timeline {
  margin-bottom: 0
}

.main-timeline .timeline:nth-child(2n) .date-content {
  float: right
}

.main-timeline .timeline:nth-child(2n) .date-content:before {
  left: 10px
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
  padding: 20px 50px 20px 0;
  text-align: right
}

@media only screen and (max-width: 991px) {
  .main-timeline .date-content {
      margin-top: 35px
  }
  .main-timeline .date-content:before {
      width: 22.5%
  }
  .main-timeline .timeline-content {
      padding: 10px 0 10px 30px
  }
  .main-timeline .title {
      font-size: 17px
  }
  .main-timeline .timeline:nth-child(2n) .timeline-content {
      padding: 10px 30px 10px 0
  }
}

@media only screen and (max-width: 767px) {
  .main-timeline:before {
      margin: 0;
      left: 7px
  }
  .main-timeline .timeline {
      margin-bottom: 20px
  }
  .main-timeline .timeline:last-child {
      margin-bottom: 0
  }
  .main-timeline .icon {
      margin: auto 0
  }
  .main-timeline .date-content {
      width: 95%;
      float: right;
      margin-top: 0
  }
  .main-timeline .date-content:before {
      display: none
  }
  .main-timeline .date-outer {
      width: 110px;
      height: 110px
  }
  .main-timeline .date-outer:before,
  .main-timeline .date-outer:after {
      width: 110px;
      height: 110px
  }
  .main-timeline .date {
      top: 30%
  }
  .main-timeline .year {
      font-size: 24px
  }
  .main-timeline .timeline-content,
  .main-timeline .timeline:nth-child(2n) .timeline-content {
      width: 95%;
      text-align: center;
      padding: 10px 0
  }
  .main-timeline .title {
      margin-bottom: 10px
  }
}